@page
@model RosaMaríaBookstore.Pages.Products.ProductsAjaxModel;
@using RosaMaríaBookstore.Props;
@{
    Layout = null;
}

@{
    int size = Model.ProductsList.Count;
    ProductsQuery product;
    String image, style;
}
<div id="filter-results" data-showRegisters="@Model.showRegisters" data-total="@Model.total"
    data-current-page="@Model.currentPage" data-max="@Model.pageSize">
</div>
@if (size == 0)
{
    <div class="col-md-12">
        <div class="alert alert-info text-center font-weight-bold">
            <h5>No hay registros</h5>
        </div>
    </div>
    return;
}

@for (int i = 0; i < size; i++)
{
    product = Model.ProductsList[i];
    if (product.Imagen != null)
    {
        image = "/images/products/" + @product.Imagen;
    }
    else
    {
        image = "/images/not-image.png";
    };
    if (product.Existencia == 0)
    {
        style = "float-right badge badge-danger";
    }
    else if (product.Existencia <= product.Stockminimo)
    {
        style = "float-right badge badge-warning";
    }
    else
    {
        style = "float-right badge badge-info";
    }
    <div class="col-md-6 col-lg-2">
        <div class="card d-block border border-radius">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="float-left text-space-products">@product.Nombre </div> <span
                        class="@style">@product.Existencia</span>
                </h5>
                <h6 class="card-subtitle text-muted">@product.Categoria</h6>
            </div>
            <img class="img-fluid image-height pointer" id="imageproduct" src="@image" alt="Imagen"
                data-idproduct="@product.Id">
            <div class="card-body p-0 m-0 d-flex align-items-end">
                <p class="card-text"></p>
            </div> @* end card-body*@
            <div class="card-footer text-muted p-y m-0">
                <div class="row pt-2" id="actions">
                    <div class="btn-group mb-2 col-lg-12">
                        @if ((product.Idcompra > 0 && product.Idcompra != null) ||
                    (product.Idventa > 0 && product.Idventa != null))
                        {
                            <button type="button" class="btn btn-info btn-rounded"><span class="mdi mdi-cash-usd mdi-18px"
                                    id="price" data-idproduct="@product.Id"></span></button>
                        }
                        <button type="button" class="btn btn-warning btn-rounded"><span
                                class="mdi mdi-border-color mdi-18px" id="edit"
                                data-idproduct="@product.Id"></span></button>
                        <button type="button" class="btn btn-danger btn-rounded"><span class="mdi mdi-delete mdi-18px"
                                id="delete" data-idproduct="@product.Id"></span></button>
                    </div>
                </div>
            </div>
            @*end card-footer*@
        </div> @*end card*@
    </div>@*end col*@
}
